body {
	font-family: 'Open Sans', Arial, Verdana, Tahoma, sans-serif;
}
a {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.navbar-inverse {
	background: #F28B30;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	border-radius: 0px !important;
	border: none !important;
}
.navbar-inverse ul li a {
	color: #f9f9f9 !important;
	text-shadow: 1px 1px 1px #BF472C;
}
.navbar-inverse ul li a:hover {
	background: rgba(0,0,0, 0.1) !important;
}
.navbar-brand {
	color: #BF472C !important;
	font-weight: bold;
}
.navbar-brand:focus,
.navbar-brand:hover {
	text-shadow: 1px 0 1px rgba(0,0,0, 0.5);
	color: #fff !important;
} 
.bold {
	font-weight: bold;
}