
{% extends 'blog/base.html' %}
{% block content %}
    {% for ads in object_list %}
    	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    		<div class="panel panel-default">
    			<div class="panel-heading">
		        	<h4><a href="{{ ads.get_absolute_url }}">{{ ads.title }}</a></h4>
		        </div>
		        <div class="panel-body">
			        <div><img src="{{MEDIA_URL}}{{ ads.image}}" class="img-responsive"></div>
			        <p>{{ ads.content }}</p>
			        <p class="bold">{{ ads.contacts }}</p>
			    </div>
	        </div>
        </div>
    {% empty %}
    <p>Нет постов</p>
    {% endfor %}

{% endblock %}