
{% extends 'blog/base.html' %}
{% block content %}
    <p>{{ ads.datetime }}</p>
    
    
    <h2>{{ ads.title }}</h2>
    <p>{{ ads.content }}</p>
    <p class="bold">{{ ads.contacts }}</p>
{% endblock %}