<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>{{ ads.title }}</title>
  <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
  <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  <script>
    $(function(){
    {% block jquery %}
      {% endblock %}
    });
  </script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'list' %}">ProVse</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'list' %}" class="">Список постов</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Регистрация</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  {% block content %}Empty page{% endblock %}
</div> 
  <script src="{{STATIC_URL}}js/jquery-2.1.3.min.js"></script>
  <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  <script src="{{STATIC_URL}}js/libs/ember-template-compiler-1.10.0.js"></script>
  <script src="{{STATIC_URL}}js/libs/ember-1.10.0.debug.js"></script>    
  <script src="{{STATIC_URL}}js/app.js"></script>   
</body>
</html>